@model IEnumerable<MfWebProject.Models.KampuslerSet>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}



<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KampusAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KampusSayisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KampusAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KampusSayisi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KampusNo }, new { @class = "text-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KampusNo }, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
