@model IEnumerable<MfWebProject.Models.AkademisyenlerSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Users_LayoutPage.cshtml";
}

<h2>Akademisyenler</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calısmalar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bolum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calısmalar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bolum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dal)
        </td>
        <td>
        </td>
    </tr>
}

</table>
