@model IEnumerable<MfWebProject.Models.OgrencilerSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Users_LayoutPage.cshtml";
}

<h2>Öğrenci Listesi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
